@championImageWidth: 135px;
@totalWidth: 600px;
.ChampionStats {
    margin: 5px 0;
    display: grid;
    grid-template-columns: @championImageWidth auto;
    width: @totalWidth;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    .ChampionTile {
        position: relative;
        img {
            height: @championImageWidth;
            width: @championImageWidth;
        }
        .level {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: hsl(210, 90%, 85%);
            font-weight: 600;
            font-size: 18px;
        }
    }
    .Content {
        width: @totalWidth - @championImageWidth;
        padding: 5px;
        border: 2px solid #372E18;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 0;
        .StatsWrapper,
        .HealthAndResourceBar {
            display: grid;
            grid-template-columns: auto auto;
        }
        .StatsWrapper {
            // grid-template-columns: repeat(5, auto);
            grid-template-columns: 70px 70px auto auto 70px;
            .StatsRow {
              &:nth-child(even) {
                  margin-right: 5px;
              }
              span img {
                  margin-right: 5px;
                  height: 20px;
                  width: 20px;
              }
              span {
                  margin-bottom: 2px;
                  display: block;
              }
              >div {
                display: block !important; 
              }
          }
        }
        .HealthAndResourceBar {
            margin-bottom: 2px;
            grid-column-gap: 5px;
        }
        .HealthBar {
            background-image: url('~Images/HUDAtlas/Bars/HealthBig.gif');
            background-repeat: no-repeat;
            background-size: cover; // background-size: 50%;
            font-size: 13px;
            height: 15px;
            line-height: 15px;
            text-align: center;
        }
        .ResourceBar {
            background-repeat: no-repeat;
            background-size: cover;
            height: 15px;
            line-height: 15px;
            font-size: 13px;
            text-align: center;
            background-image: url('~Images/HUDAtlas/Bars/ResourceRedBig.gif');
            &.Mana {
                background-image: url('~Images/HUDAtlas/Bars/ManaBig.gif');
            }
            &.Ferocity {
                background-image: url('~Images/HUDAtlas/Bars/ResourceWhiteBig.gif');
            }
        }
    }
}

.StatsTooltip {
    .base {
        color: aliceblue;
    }
    .bonus {
        color: rgb(68, 139, 50);
    }
}