@font-face {
  font-family: 'Friz Quad';
  font-weight: normal;
  src: url('./FrizQuadrata.otf');

}
@font-face {
  font-family: 'Friz Quad';
  font-weight: bold;
  src: url('./FrizQuadrataBold.otf');
}