.LeagueScrollBarsThumb {
  background: hsla(38, 50%, 31%, 0.5);
  border-radius: 3px;
  width: 4px;
}
.LeagueScrollBarsThumb:hover {
  background: hsla(40, 45%, 61%, 0.5);
}
.LeagueScrollBarsThumb:active {
  background: hsla(42, 56%, 18%, 0.5);
}
