.global-search {
    .ant-input {
        border: 0;
    }
    .ant-select-selection {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.region-select {
    .ant-select-selection {
        border-radius: 0;
        border: 0;
        height: 40px;
    }
    .ant-select-selection__rendered {
        line-height: 40px;
    }
}