@runeTabSize: 40px;
.RunesSettings {
	.Runepage {
    display: flex;
		flex-wrap: wrap;
	}
	.RunesTabs {
		width: 300px;
	}
	.RunesTabList {
    padding: 0;
		list-style-type: none;
    text-align: center;
	}
	.RunesTab {
    display: inline-block;
		cursor: pointer;
		border: 2px solid rgb(54, 54, 54);
		border-radius: 50%;
		margin: 2px;
		width: @runeTabSize;
		height: @runeTabSize;
		padding: 5px;
		svg {
			height: 100%;
			width: 100%;
    }
    .Domination {
      color: #D84646;
    }
    .Inspiration {
      color: #48AFBB;
    }
    .Precision {
      color: #B9A87C;
    }
    .Sorcery {
      color: #838DF8;
    }
    .Resolve {
      color: #A3D38A;
    }
    filter: grayscale(100%);
    &.react-tabs__tab--selected {
      filter: grayscale(0%);
    }
	}
	.RunesTabPanel {
    .RuneGroup {
      display: flex;
      justify-content: space-around;
    }
		.Rune {

      margin: 15px;
      position: relative;
			filter: grayscale(100%);
			cursor: pointer;
			&:hover {
				filter: grayscale(20%);
				&:after {
					content: '';
					position: absolute;
          top: -10px;
          bottom: -10px;
          right: -10px;
          left: -10px;
					border-width: 4px;
					border-style: solid;
					// margin: -9px 0 0 -9px;
					border-radius: 50%;
				}
			}
		}
		label {
			input[type=radio] {
				display: none;
				&:checked+div {
					.Rune {
						filter: grayscale(0%);
					}
				}
			}
		}
		.Domination {
			.Rune {
				&:after {
					border-color: rgba(216, 70, 70, 0.350);
				}
			}
		}
		.Inspiration {
			.Rune {
				&:after {
					border-color: rgba(72, 175, 187, 0.350);
				}
			}
		}
		.Precision {
			.Rune {
				&:after {
					border-color: rgba(185, 168, 124, 0.350);
				}
			}
		}
		.Sorcery {
			.Rune {
				&:after {
					border-color: rgba(131, 141, 248, 0.350);
				}
			}
		}
		.Resolve {
			.Rune {
				&:after {
					border-color: rgba(163, 211, 138, 0.350);
				}
			}
		}
	}
}
