th.column-amount,
td.column-amount {
  text-align: right !important;
}

.hideExpandIcon .ant-table-row-expand-icon {
  display: none;
}

tr.ant-table-expanded-row:hover>td {
  background: initial;
}

.ant-table-row-expand-icon-cell {
  min-width: 0px;
  width: 1px;
  padding: 0px !important;
}