.tippy-tooltip.custom-theme {
	background: #010a13;
	border: 2px solid #785a28;
	border-radius: 0;
}
.tippy-popper[x-placement^="top"] {
	.custom-theme {
		[x-arrow] {
			border-top-color: #010a13;
			&::after {
				position: absolute;
				content: '';
				top: -7px;
				left: -10px;
				z-index: -1;
				border-top: 10px solid #785a28;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}
	}
}
.tippy-popper[x-placement^="bottom"] {
	.custom-theme {
		[x-arrow] {
			border-bottom-color: #010a13;
			&::after {
				position: absolute;
				content: '';
				top: -3px;
				left: -10px;
				z-index: -1;
				border-bottom: 10px solid #785a28;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
			}
		}
	}
}
.tippy-tooltip.popover-theme{
    background: #010a13;
    border: 2px solid #785a28;
    border-radius: 0;
    padding: 0;
    // top: -90px;
  
}